*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header{
    height: 100vh;
    width: 100vw;
    background: #fff;
    position: relative;
    margin-bottom: 20%;
}
.info{
    width: 90%;
    height: 95%;
    position: relative;
    
}
.header{
    width: 95%;
    height: 1050px;
    background: url(../images/Rectangle-1.png);
    background-repeat: no-repeat;
    
}

nav{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    color: #fff;
    
}
.Box1{
    flex-basis: 40%;
    padding-bottom: 2%;
}

.Box2{
    flex-basis: 40%;
    padding-right: 8%;
}
.Box3{
    flex-basis: 10%;
    align-items: end;
}


ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-self: baseline;
}

li{
    padding: 10px;
    font-size: 1.2rem;
    align-self:baseline;
}

a{
    text-decoration: none;
    color: #fff;
    font-weight:500;
}
.Box3 a img{
    width:55px;
    height:55px;
    padding: 10px;
    object-fit: cover;

}

.intro{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    padding: 60px;
    
}

.description{
    color: #fff;
    flex-basis: 60%;
    flex-wrap: wrap;
    
}
.description h1{
    font-size:4.5rem;
    padding: 20px;
}

.description p{
    font-size: 1.4rem;
    line-height: 2.3rem;
    padding: 20px;
}
button{
    border-radius: 30px !important;
    width: 200px;
    height: 70px;
    padding: 10px;


}
.response{
    width: 500px;
    height: 70px;
    margin: 5%;
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
    
    
}

#register{
    color:red;
    font-size: 1.3rem;
    font-weight:600;
    
}

.response img{
    width: 200px;
    height: 200px;
    
    object-fit: cover;
}



.imagination1{
    position: absolute;
    top: 450px;
    left: 900px;
    width: 500px;
    height: 800px;

}
.rectangle1{
    width: 550px;
    height: 550px;
   
    

}


.imagination2{
    position: absolute;
    top: 200px;
    left: 750px;
    width: 550px;
    height: 800px;
}
.rectangle2{
    width: 550px;
    height: 550px;
   

}