.container7{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.Box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 60%;
    margin: 8%;
    height: 100%;
    width: 950px;
    border-radius: 40px;
    border:4px solid red;

}
.Box h1{
    font-weight: 500;
    font-size: 3rem;
    padding-bottom: 2rem;
}


.Box p{
    line-height: 2.5rem;
    font-size: 1.4rem;
    padding-bottom: 2rem;
    padding: 0% 8%;
    padding-bottom: 5%;
    font-weight: 400;
    color: rgb(109, 108, 108);
    text-align: center
}


#button{
    width: 200px;
    height: 70px;
    border-radius: 60px;
    border: 3px solid red;
    background-color:rgba(247, 4, 4, 0.832);
    color: white;
    font-weight: 600;
    font-size: 20px;
    align-self: center;
    cursor: pointer;
    margin: 10px;
}

@media screen  and (max-width:900px){
    .Box{
        max-width: 500px;
        max-height: 400px;
    }

}

