*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.frame1{
    height: 100%;
    width: 100%;
    background: #fff;
    
}
.container1{
    width: 100%;
    height: 50%;
    
}

.header{
    width: 100%;
    height: 80%;
    background: url(../images/Rectangle-1.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

nav{
    align-items: center;
    height: 10%;
    width: 95%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 20%;
    color: #fff;
    
}
.Box1{
    flex-basis: 30%;
    padding-bottom: 2%;
    flex-wrap: wrap;
}

.Box2{
    flex-basis: 40%;
    flex-wrap: wrap;
    padding-right: 5%;
}
.Box3{
    flex-basis: 20%;
    align-items: end;
    flex-wrap: wrap;
    padding-right: 5%;
}


ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

li{
    padding: 2%;
    font-size: 1.3rem;
}

a{
    text-decoration: none;
    color: #fff;
    font-weight:500;
}
.Box3 a img{
    width:40px;
    height:40px;
    object-fit: cover;
    border-radius: 50%;
    background:white;

}

.intro1{
    height: 80%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    flex-wrap: wrap;  
}

.description{
    padding-top: 10%;
    color: #fff;
    padding-left: 5%;
    flex-basis: 60%;
    flex-wrap: wrap;

    
}
.description h1{
    font-size:4.3rem;
    flex-wrap: wrap;
    padding: 5%;
}

.description p{
    font-size: 1.4rem;
    line-height: 2.3rem;
    padding-left: 5%;
    flex-wrap: wrap;
}

.response{
    width: 500px;
    height: 70px;
    margin: 5%;
    margin-bottom: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
}

#register{
    color:red;
    font-size: 1.3rem;
    font-weight:600;
    flex-wrap: wrap;
    border-radius: 30px;
    width: 200px;
    height: 70px;
    flex-wrap: wrap;
    border: 1px solid red  ;
    
}

.response img{
    width: 300px;
    height: 80px;
    align-self: center;
    object-fit: cover;
}
.imagination{
    flex-basis: 40%;
    flex-wrap: wrap;
    padding-top: 8%;
    position: relative;

}
.rectangle1{
    
    width: 5rem;
    height: 8rem;
    position: relative;
    

}
.rectangle2{
    flex-wrap: wrap;
    width: 4rem;
    height: 8rem;
    padding-top: 17%;
    padding-left: 20%;
    

}

/* 
@media only screen and (max-width:1000px){    
.rectangle1{
    
    width: 3rem;
    height: 5rem;
    position: relative;
    

}
.rectangle2{
    flex-wrap: wrap;
    width: 2rem;
    height: 5rem;
    padding-top: 17%;
    padding-left: 10%;
    

}
}  */