#footer{
    background:url('../images/Rectangle 1 (1).png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    flex-wrap: wrap;
    color: white;
   
    
}
.container8{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-left: 5%;
    flex-wrap: wrap;
}
.content6{
    width: 100%;
    flex-basis: 45%;
    display: flex;
    padding-left: 5%;
    flex-direction: column;
    justify-content: space-around;

}
.content6 h1{
    font-size: 2.2rem;
    font-weight: 400;
}

.content6 p{
    width: 80%;
    text-align: start;
    font-size: 1.2rem;
    line-height: 2rem;
}
.content7{
    width: 100%;
    flex-basis: 55%;
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.links ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.company ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}
.resourses ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    min-width: 250px;
}

.content7 ul li{
    font-size: 1.1rem;
    line-height: 3rem;
    font-weight: 50;
}
.copy-write{
    flex-basis: 5%;
    width:90%;
    padding : 0% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top:2px solid white;
    flex-wrap: wrap;
}

.copy-write div{
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.copy-write div ul{
    min-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.copy-write ul li{
    font-size: 1rem;
    font-weight: 50;
}

/*   Adding response*/
@media only screen and (max-width:500px){
    
    .content6 h1{
        padding-left: 5%;
        font-size: 1.5rem;
        font-weight: 300;
    }
    
    .content6 p{
        width: 100%;
        text-align: start;
        font-size: 1rem;
        line-height: 1rem;
    }
    .content7  h4{
        font-size: 0.5rem;
    }
    .content7{
        padding-left: 0%;
    }
    .coontent7 ul li{
        font-size: 0.16rem;
    }
    .copy-write{
        padding: 0%;
    }
}

@media only screen and (max-width:950px){
    .container8{
        flex-direction: column;
    }
    .container7{
        flex-direction: column;
    }
    .content6{
        padding-left: 20%;
    }
    .content7{
        padding-left: 10%;
    }
    .content7 h4{
        font-size: 1.2rem;
    }
    .content7 ul li{
        line-height: 1.5rem;
    }
    .copy-write{
        min-height: 30px;
        flex-direction: column;
    }
    .content6 h1{
        padding-left: 5%;
        font-size: 2rem;
        font-weight: 400;
    }
    
    .content6 p{
        width: 100%;
        text-align: start;
        font-size: 1rem;
        line-height: 1rem;
    }
}